.jj
.git
cmake_install.cmake
CMakeCache.txt
compile_commands.json
.DS_Store
libatlas.a
Makefile
bin
CMakeFiles
.cache
test/resources/skybox
libbezel.a
libaurora.a
libhydra.a
lib/*
build
.vscode
target
cli/target
libfinewave.a
_deps
docs/html
docs/latex
.idea
.cmake
build.ninja
Testing
__pycache__
build_verify
dist
node_modules
.obsidian
*.app
